<link rel="import" href="../assets/bower_components/iron-form/iron-form.html">
<link rel="import" href="../assets/bower_components/paper-button/paper-button.html">
<link rel="import" href="../assets/bower_components/paper-input/paper-input.html">
<link rel="import" href="../assets/bower_components/paper-styles/color.html">
<link rel="import" href="../assets/bower_components/paper-styles/typography.html">

<dom-module id="login-form">
<template>
<style is="custom-style">
input {
    display: block;
    width: 100%;
    height: 44px;
    padding: 0 8px;
    margin-top: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;

    @apply(--paper-font-title);
    font-weight: normal;
}
paper-button {
    margin: 0;
    width: 100%;

    background-color: var(--paper-indigo-500);
    color: white;
    @apply(--paper-font-body1);
}
</style>
<form is="iron-form" id="form" method="post"
    content-type="application/json"
    action="{{{ endpoint }}}"
    on-iron-form-presubmit="preflight"
    on-iron-form-error="reject"
    on-iron-form-response="accept"
    >
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <input name="name" placeholder="{{ label_name }}">
    <input name="pass" placeholder="{{ label_pass }}" type="password">
</form>
<paper-button id="submit" raised on-click="submit">{{ action }}</paper-button>
</template>
<script>
Polymer({
    is: "login-form",
    submit: function submit(e) {
        this.$.form.submit();
    },
    preflight: function preflight(e) {
        var json = this.$.form.request.body;
        var name = json.name;
        delete json.name;
        var pass = json.pass;
        delete json.pass;
        this.$.form.request.body = json;
        this.$.form.request.headers = {
            Authorization: "Basic " + btoa(name + ":" + pass),
        };
        this.$.form.request.handleAs = "text";
    },
    accept: function accept(e) {
        this.fire("form-accept", e.detail.response);
        // TODO: show visual indication login success
        alert("Login Success");
    },
    reject: function reject(e) {
        this.fire("form-reject", {
            error: e.detail.error,
            status: e.detail.request.status,
            statusText: e.detail.request.statusText,
        });
        // TODO: show visual indication login error
        alert("Login Failed");
    },
});
</script>
</dom-module>
