<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/assets/webcomponentsjs/webcomponents-lite.min.js"></script>
<link rel="import" href="/assets/iron-icon/iron-icon.html">
<link rel="import" href="/assets/iron-icons/iron-icons.html">
<link rel="import" href="/assets/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/assets/iron-form/iron-form.html">
<link rel="import" href="/assets/paper-button/paper-button.html">
<link rel="import" href="/assets/paper-card/paper-card.html">
<link rel="import" href="/assets/paper-input/paper-input.html">
<style is="custom-style">
body {
    background-color: #DCDCDC;
    font-family: sans-serif;
}
paper-card {
    margin: 0 auto;
    padding: 10px;
    --paper-card-header-color: white;
}
paper-card::shadow div.header {
    background-color: #00CAA1;
    width: 350px;
    height: 150px;
}
paper-card {
    --paper-card-header-color: white;
}
paper-button {
    font-size: 11px;
    float: right;
}
paper-button:hover {
    background-color: rgba(0, 202, 161, 0.45);
}
</style>
</head>

<body class="layout vertical fullbleed center-center">
<paper-card heading="Login Help" image="http://placehold.it/350x150/20c28f" elevation=1>
    <div class="card-content">
        <form is="iron-form" action="/u/login_help" method="post">
            <input type="hidden" name="_csrf" value="{{{csrfToken}}}">
            <paper-input label="Username" name="iden" value="{{{iden}}}" required>
                <iron-icon icon="mail" suffix></iron-icon>
            </paper-input>
        </form>
    </div>
    <div class="card-actions">
        <paper-button onclick="submitHandler(event)">reset password</paper-button>
    </div>
</paper-card>
</body>

<script>
var form = document.querySelector("form");
form.addEventListener("iron-form-response", function(e) {
    switch (e.detail.status) {
    case 205:
        alert("You had signed up before, need to resend confirm link?");
        break;
    default:
        alert("Reset link is on its way");
        break;
    }
});
form.addEventListener("iron-form-error", function(e) {
    switch (e.detail.request.status) {
    case 404:
        alert("You don't have an account with us?");
        break;
    default:
        alert("Something went wrong");
        break;
    }
});

function submitHandler(e) {
    form.submit();
}

</script>

</html>
